USE [master]
GO
/****** Object:  Database [Livraria]    Script Date: 13/08/2018 00:59:59 ******/
CREATE DATABASE [Livraria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Livraria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Livraria.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Livraria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Livraria_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Livraria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Livraria]
GO
/****** Object:  Table [dbo].[Livro]    Script Date: 13/08/2018 01:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Livro](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[editora] [varchar](50) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[anoPublicacao] [int] NOT NULL,
	[numeroPaginas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
